<div class="container mt-5">
<h2 style="text-align:center;">Hello <%= "#{current_user.name}" %>, welcome to Musical Emporium</h2>
<h4 style="text-align:center;">You have <%= "#{current_user.bookings.count.pluralize('booking') }" %> & <%= "#{current_user.instruments.count}" %> instruments with us</h4>
</div>

<div class="d-flex justify-content-around">
  <div class="container" style="width: 200rem; margin-top: 32px;">


    <div id="card-holder">
      <h2 style="text-align:center;">Your Bookings</h2>
      <div class="d-flex justify-content-around" >
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <!-- <div class="img-frame"> -->
          <!-- <#% if booking.instrument.photo.key.nil? %> -->
          <%= image_tag "pianos/clock_icon.png", alt: "Musical Emporium" %>
          <!-- <#% else %> -->
          <!-- <#%= cl_image_tag(booking.instrument.photo.key) %> -->
          <!-- <#% end %> -->
          <!-- </div> -->
          <div class="card-product-infos">
            <h4><%= "#{booking.instrument.make + ' ' + booking.instrument.instrument_name}"%></h4>
            <p><strong>Start Date : <%= booking.start_date %></p>
            <p>End Date : <%= booking.end_date %></strong></p>
            <h4>Cost : <%= number_to_currency(booking.instrument.daily_rate, unit: "£") %></h4>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <!-- <div><#%= link_to 'Search again', root_path, class: "btn btn-primary" %></div> -->
  </div>


  <div class="container" style="width: 200rem; margin-top: 32px;">
    <div id="card-holder">
    <h2 style="text-align:center;">Your Instruments</h2>

      <div class="d-flex justify-content-around" id="card-holder" style="background-color: black;">
      <% @instruments.each do |instrument| %>
        <div class="card-product">
          <!-- <div class="img-frame"> -->
          <!-- <#% if instrument.photo.key.nil? %> -->
          <%= image_tag "pianos/keyboard.png", alt: "keyboard-icon" %>
          <!-- <#% else %> -->
          <!-- <#%= cl_image_tag(instrument.photo.key) %> -->
          <!-- <#% end %> -->
          <!-- </div> -->
          <div class="card-product-infos">
            <h4><%= "#{instrument.make + ' ' + instrument.instrument_name}"%></h4>
            <p><strong>
              <%= "#{instrument.instrument_type}" %>
            </strong></p>
            <div class="d-flex justify-content-center">
              <%= link_to 'Edit',
              edit_instrument_path(instrument), class: "btn btn-outline-dark btn-sm m-3" %>
              <%= link_to 'Delete',
                    instrument_path(instrument), class: "btn btn-outline-dark btn-sm m-3",
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete this instrument?"} %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <!-- <div><#%= link_to 'Search again', root_path, class: "btn btn-primary" %></div> -->
  </div>
</div>



