<!-- <h1>show list of guitars etc</h1> -->

<div class="container" style="width: 200rem;">
  <div class="d-flex justify-content-center">
    <h1 style="text-align:center;"> Emporium Finds For... <%= params[:query] %></h1>
  </div>

    <div class="row">

    <div class="instrument-card-box">

      <% @instruments.each do |instrument| %>
        <div class="col-4 " style= "align-content: space-between;">
          <div class="card-basic">
            <% if instrument.photo.key.nil? %>
              <%= image_tag "instrument-stall.jpg", alt: "Musical Emporium" %>
            <% else %>
              <%= cl_image_tag(instrument.photo.key) %>
            <% end %>
            <div class="card-basic__infos">
              <h4 class="card-basic__caption" ><%= link_to "#{instrument.make + ' ' + instrument.instrument_name}", instrument_path(instrument) %></h4>
              <p class="card-basic__text"><%= instrument.delivery_option %></p>
              <p class="card-basic__text"><%= number_to_currency(instrument.daily_rate, unit: "£") %></p>
            </div>
          </div>
        </div>
      <% end %>

    </div>
    <br>
    <div><%= link_to 'Search again', root_path, class: "btn btn-primary ml-3" %></div>

  </div>

      <!-- </div> -->
      <!-- <#%= link_to 'Add a new instrument', new_instrument_path, class: "btn btn-primary" %> -->
</div>



