

<div class="container" style="padding: 32px; width: 800px;">
  <h2>Add an Instrument</h2>
  <%= simple_form_for @instrument do |f| %>
    <%= f.input :instrument_type %>
    <%= f.input :make %>
    <%= f.input :instrument_name, :collection => %w[Brass Percussion Strings Woodwind] %>
    <%= f.input :daily_rate %>
    <%= f.input :delivery_option, as: :radio_buttons, collection: ["Collection", "Courier"] %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'Back to search', root_path %>
</div>




