

<div class="container" style="padding: 32px;">
  <h2>Add an Instrument</h2>
  <%= simple_form_for @instrument do |f| %>
    <%= f.input :instrument_type %>
    <%= f.input :make %>
    <%= f.input :instrument_name %>
    <%= f.input :daily_rate %>
    <%= f.input :delivery_option %>



    <%= f.input :photo, as: :file %>


    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Back to search', root_path, class: "btn btn-primary" %>
</div>


