<%= render 'shared/show.html.erb' %>

<div class="container">

  <div class="col-xs-12 col-sm-10 col-sm-offset-1 m-5 p-5">
    <div class="show-links">
      <%= link_to 'Add a new instrument listing', new_instrument_path, class: "btn btn-primary" %>
      <%= link_to "Back to #{@instrument.instrument_type}s", :back, class: "btn btn-primary" %>
      <%= link_to 'Make a booking', new_instrument_booking_path(@instrument), class: "btn btn-primary" %>

      <%  if (user_signed_in? && current_user.id == @instrument.user_id) %>
        <%= link_to 'Delete instrument',
          instrument_path(@instrument), class: "btn btn-basic btn-sm",
          method: :delete,
          data: { confirm: "Are you sure you want to delete this instrument?"}
          %>
        <%= link_to 'Edit instrument',
          edit_instrument_path(@instrument), class: "btn btn-basic btn-sm"
          %>
      <% end %>

    </div>
  </div>
</div>

<div id="map"
style="width: 100%; height: 400px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

