
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= "Take a closer look" %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Instrument</th>
            <td><%= @instrument.instrument_type %></td>
          </tr>
          <tr>
            <th scope="row">Daily Rate</th>
            <td><%= @instrument.daily_rate %></td>
          </tr>
          <tr>
            <th scope="row">Delivery Options</th>
            <td><%= @instrument.delivery_option %></td>
          </tr>
        </tbody>
      </table>
    <%= link_to 'Add a new list', new_instrument_path, class: "btn btn-primary" %>
    <%= link_to 'Search again', root_path, class: "btn btn-primary" %>
    <%= link_to 'Make a booking', new_instrument_booking_path, class: "btn btn-primary" %>


    </div>
  </div>
</div>
