<h1><%= @instrument.make + " " + @instrument.instrument_name%></h1>

  <div class="instrument-container">
    <div class="instrument-image"> <%= image_tag(@instrument.image_url) %>
    </div>
    <p>Delivery option : <%= @instrument.delivery_option %></p>
    <p>Daily hire rate £<%= @instrument.daily_rate %></p>
  </div>


<%= link_to "Back to #{@instruments} list", instruments_path %>
<%= link_to "Hire instrument", new_instrument_booking_path(@instrument) %>

</div>
