<!DOCTYPE html>
<html>
  <head>
    <title>Musical Emporium</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar-lewagon">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
          Musical Emporium
        </a>
      </div>
    </nav>

    <%= yield %>


     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
